.transition-1{
    position: fixed;
    top: 0;

    bottom: 0;
    left: 0;
    width: 100%;
    
    z-index: 100;
    pointer-events: none;
    transition: 0.7s ease-out;
}
body.transition-1{
    position: fixed;
    top: 0;

    bottom: 0;
    left: 0;
    width: 100%;
    
    z-index: 100;
    pointer-events: all;
    transition: 0.7s ease-out;
}

.transition-1.active{
    left: 100%;
    pointer-events: all;
}
body.transition-1.active{
    left: 100%;
    pointer-events: none;
}