* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1 {
    text-align: center;
    padding: 4%;
}

hr {
    border-top: 15px double black;
}

.all-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/* CARD */

.card {
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 10%;
    perspective: 1000px;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4%;
}

.card.productImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* size of product img */

.productImg {
    width: 200px;
    height: 200px;
}

button {
    width: 40%;
    height: auto;
    margin: 10px;
    justify-content: center;
    background-color: whitesmoke;
    border: none;
    border-radius: 100%;
}

button:hover {
    border: none;
    color: blue;
}

.padding {
    margin: 10%;
}

/* footer */

footer {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 2%;
}

#prevPage{
    position: absolute;
    padding: 10px 12px;
    background-color: rgba(204, 204, 204, 0.7);
    cursor: pointer;
    top: 0px;
    left: 0px;
}